body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    background-color: #6c757d;
}
header{
    font-family: 'Roboto Mono', monospace;
}
.contact
{
    text-align: center;
}
.prices-offer{
    text-align: center;
    margin-bottom: 20px;
}
#photo{
    position: relative;
    margin-top: 59px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    
}
#photo2{
    position: absolute;
    bottom: 10px;
    left: 10px;
    animation-name: rotate;
    animation-duration: 2s;
}
@keyframes rotate {
    from {
     transform: rotateX(90deg)
    }
    to {
    transform: rotateX(0deg);
    }
  }
#headertext{
    position: absolute;
    top: 50px;
    right: 100px;
    animation-name: animate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    background-color: #e3e3e3; 
    min-width: 200px;
    border-radius: 5px;
}
#headertext h1{
    font-size: 40px;
    color: #737375;

}
@keyframes animate {
    from {
      right: -550px;
    }
    to {
      top: 50px;
      right: 100px
    }
  }
h1{
    color: White;
    margin-top: 20px;
    font-size: 50px;
    
}
h3{
    color:white;
    font-size: 20px;
    margin-bottom: 50px;
}
h2{
    color: white;
}
.contact-item{
    padding-top: 10px;
    border: 1px solid orange;
}
.contact-item p{
    font-size: 25px;
    color: orange;
    margin-top: 10px;
}
.social a{
    display: inline-block;
    padding: 0;
    margin: 0;
    color: white;
}
.social a:hover{
    color: orange;

}
.offer{
    text-align: center;
}
.offer-img{
    height: 285px;
    padding: 0;
    position: relative;
    margin: 10px;
}
.offer-img img{
    min-height: 275px;
    width: 100%;
}
.text-img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background-color: white;
}
.text-img p{
    margin-top: 10px;
    color: orange;
}
.reference{
    margin: auto;
    position: relative;
    text-align: left;
    background-color: white;
    border: 4px solid white;
    border-radius: 5px;

}
.photo3{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50%;
}
.photo3 img{
    max-height: 360px;

}
.prices{
    position: relative;
    margin-bottom: 10px;
}
.prices p{
    color: white;
    font-size: 18px;
}
.prices a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px;
}
.prices a:hover{
    background-color: #db830f;
}
    @keyframes animateone {
        from {
          right: -250px;
        }
        to {
          top: 50px;
          right: 5px;
        }
      }

.footer-item h1{
    color: gray;
    font-size: 25px;
}
.footer-item li{
    list-style-type: none;
}
.link{
    color: white;
    display: inline-block;
}
.link:hover{
    color: orange;
}
.footer-logo{
    text-align: center;
    margin-top: 10px;
    
}
.add a{
    text-decoration: none;
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 40%;

}
.add a:hover{
    background-color: #db830f;
}
.add h3{
    font-size: 35px;
    color: #6c757d;
    margin-bottom: 10px;
}
.book:hover{
    text-decoration: none;
    color: white;

}
.quote:hover{
    text-decoration: none;
    color: white;
    
}
.footer-text{
    text-align: center;
}
@media (max-width: 1199.98px){
    .offer-img{
        margin: 0;
        overflow: hidden;
    }
    .photo3{
        display: none;
    }
    #headertext{
        position: absolute;
        top: 50px;
        right: 5px;
        animation-name: animateone;
    }
    #headertext h1{
        font-size: 22px;
    }
    #headertext h3{
        font-size: 22px;
    }
    .footer-logo{
        text-align: center;

    }
    .add a{
        width: 70%;

    }
}